nav {
    background-color: rgba(238, 130, 238, 0.712);
    min-height: 75px;
    padding: 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;

    & a {
        text-decoration: none;
        color: $color-texto;

        img {
            height: 50px;
            width: 100px;
            object-fit: cover;
        }

    }

    ul {
        display: flex;
        list-style: none;
        color: $color-texto;
        justify-content: flex-end;

        li {
            padding: 1rem;
        }
    }
}
